.no-account {
    margin: auto;
    width: 80%;

    mat-form-field {
        width: 100%;
    }

    button {
        background-color: snow;
        color: #424242;
        margin: 1rem 0;
        width: 100%;    
    }
}

.greeting {
    text-align: center;
}

